/* React Movie Search Project */
/* Allen P. */
/* 05/31/2022 */

/* HeaderFooter.js */
/* =============== */

.App {
  text-align: center;
}


.HeaderFooter {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .search-field {
} */

.label {
  padding-right: 10px;
}

.inputbox {
  padding-bottom: 5px;
}


